* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  position: relative;
}

.container {
  max-width: 1200px;
  display: flex;
  justify-content: center;

  h1 {
    width: 100%;
    text-align: center;
  }
  
  p {
    padding-top: 10px;
  }
}

.hash-links {
  margin-left: 20px;

  a {
    text-decoration: none;
  }
}

.main-carousel {
  height: 50%;
  min-height: 250px;
  background: #bdbcba;
}

.carousel-cell {
  width: 100%;
  height: 500px;
  
  background-size: cover;
  font-size: 28px;
  display: flex;
  justify-content: center;
}

.carousel-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* image text */
.caption {
  background: #FAFAFA;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  color: #000;
}

/* previous & next buttons */
.flickity-prev-next-button {
  width: 40px;
  height: 40px;
}

/* icon color */
.flickity-button-icon {
  fill: #919090;
}

/* hide disabled button */
.flickity-button:disabled {
  display: none;
}

/* dots disabled */
.flickity-page-dots {
  display: none;
}

.google-map {
  width: 100%;
  height: 500px;
  background-color: grey;
}

/* progress bar */
.progress-bar {
  width: 0;
  height: 12px;
  background-color: grey;
}

/* restart button */
.button-group {  
  position: absolute;
  top: 34px;
  font-size: 18px;
}